* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.logo span {
    color: #F16C7F;
}

.header__left .logo {
    font-family: Lato;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    display: flex;
    align-items: center;
    font-size: 27px;
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*letter-spacing: 0.7px;*/
    text-decoration: none;
}

.logo img {
    margin-right: 10px;
    padding-bottom: 20px;
}

.header {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.pointer {
    cursor: pointer;
}

.header__form input {
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    /*box-sizing: border-box;*/
}

.header__left, .header__right {
    display: flex;
    align-items: center;
}

.browse {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 87px;*/
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

.browse a {
    color: #222222;
}

.browse a .fa-caret-down {
    margin-left: 7px;
}

